---
import Layout from '../layouts/Layout.astro';
import AboutContent from '../components/AboutContent.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---
<Layout
	title="Sobre Mí - Javier Camaño Torres"
	description="Conoce más sobre Javier Camaño Torres, Ingeniero en Informática apasionado por la tecnología, desarrollo backend y automatización de procesos."
	image="/img/banner-about-me.webp"
>
	<div class="portfolio-container">
		<!-- Header Module (Left Sidebar) -->
		<Header />

		<!-- Body Module (Main Content) -->
		<main class="body-module">
			<div class="loading">
				<div class="loading-spinner"></div>
			</div>
			<div class="content-wrapper">
				<AboutContent />
			</div>
		</main>
		<!-- Footer Module -->
		<Footer />
	</div>
 <script is:inline src="/scripts/navigation.js"></script>
</Layout>