---
// AboutContent Component
---
<div class="content-section" id="about-content">
	<div class="name-section">
		<h1>Sobre Mí</h1>
		<div class='separador'></div>
	</div>
	<div class="about-banner">
		<img src="/img/banner-about-me.png" alt="Banner" />
	</div>
	<div class="about-content">
		<div class="about-text">
			<p>
				Soy un Ingeniero en Informática de 25 años nacido en Chile, apasionado por la tecnología y el desarrollo de soluciones innovadoras. 
				Mi experiencia se centra en el desarrollo backend, administración de sistemas y automatización de procesos.
			</p>
			<p>
				Me caracterizo por ser una persona proactiva, con gran capacidad de aprendizaje y adaptación a nuevas tecnologías. 
				Siempre busco la excelencia en cada proyecto o tarea que desarrollo. 
			</p>
		</div>
		


</div>
