---
// BlogContent Component
---

<div class="content-section" id="blog-content">
	<div class="name-section">
		<h1>Blog</h1>
		<div class='separador'></div>
	</div>
	
	<div class="blog-content">
		<div class="blog-posts">
			<div class="blog-post">
				<h3>Estudio para repasar PHP - POO - Contructores y Encapsulamiento</h3>
				<p class="post-date">25 de octubre, 2025</p>
				<p class="post-excerpt">
					隆Hola a todos! Dejo un nuevo post sobre mi estudio de PHP y la programaci贸n orientada a objetos (POO). En esta ocasi贸n, me he centrado en los conceptos de constructores y encapsulamiento.
					Dejare apuntes con ejercicios de mi estudio, espero que esta informaci贸n sea 煤til para otros que est茅n interesados en profundizar en PHP.
				</p>
				<p class="post-excerpt">
					 Archivos: <a href="https://docs.google.com/document/d/1cgfzxkJSfHNLJ724lHKPjZQ7X4W4ry4pBRIApNRTc08/edit?usp=sharing" target="_blank">Estudio PHP 1</a> - <a href="https://drive.google.com/drive/folders/1WPFV7r16wUknlZcaJdSzM1-r9RM_Xxyj?usp=sharing" target="_blank"> Scripts PHP</a>
				</p>
				<div class="project-tech">
				<span class="tech-tag">Programaci贸n PHP</span>
				<span class="tech-tag">POO</span>
				</div>
			</div>
			<div class="blog-post">
				<h3>Estudio para repasar PHP - POO - Clases y Objetos</h3>
				<p class="post-date">23 de octubre, 2025</p>
				<p class="post-excerpt">
					隆Hola! Mientras contin煤o mi viaje de aprendizaje en desarrollo, he estado estudiando PHP y su enfoque en la programaci贸n orientada a objetos (POO). 
					En esta publicaci贸n, compartir茅 algunos conceptos b谩sicos que he repasado, clases y objetos. 
					Dejare apuntes con ejercicios de mi estudio, espero que esta informaci贸n sea 煤til para otros que est茅n interesados en profundizar en PHP.
				</p>
				<p class="post-excerpt">
					 Archivos: <a href="https://docs.google.com/document/d/156l4G15BbLbeypeMWI106T_g8BibuMpJWI4YpMFYZfA/edit?usp=sharing" target="_blank">Estudio PHP 1</a> - <a href="https://drive.google.com/drive/folders/1WPFV7r16wUknlZcaJdSzM1-r9RM_Xxyj?usp=sharing" target="_blank"> Scripts PHP</a>
				</p>
				<div class="project-tech">
				<span class="tech-tag">Programaci贸n PHP</span>
				<span class="tech-tag">POO</span>
			</div>
			</div>
			<div class="blog-post">
				<h3>Publicaci贸n del portafolio</h3>
				<p class="post-date">12 de octubre, 2025</p>
				<p class="post-excerpt">
					隆Hola a todos! He de anunciar que he publicado mi portafolio web personal. Despu茅s de d铆as de trabajo, finalmente est谩 en l铆nea. En este blog compartir茅 algunos detalles sobre el proceso de creaci贸n y lo que pueden esperar encontrar en mi portafolio.
				</p>
			</div>
		</div>
	</div>
</div>
