---
// BlogContent Component
---

<div class="content-section" id="blog-content">
	<div class="name-section">
		<h1>Blog</h1>
		<div class='separador'></div>
	</div>
	
	<div class="blog-content">
		<div class="blog-posts">
			<div class="blog-post">
				<h3>Publicación del portafolio</h3>
				<p class="post-date">12 de octubre, 2025</p>
				<p class="post-excerpt">
					¡Hola a todos! He de anunciar que he publicado mi portafolio web personal. Después de días de trabajo, finalmente está en línea. En este blog compartiré algunos detalles sobre el proceso de creación y lo que pueden esperar encontrar en mi portafolio.
				</p>
			</div>
		</div>
	</div>
</div>
