---
// ProjectsContent Component
import { Image } from 'astro:assets';
import projectImage from '../../public/img/proyects/proyect-institute-down.webp';
---
<div class="content-section" id="projects-content">
	<div class="name-section">
		<h1>Proyectos</h1>
		<div class='separador'></div>
	</div>
	
	<div class="projects-grid">
    <div class="project-card2">
      <div class="project-title">Aplicación educativa Instituto Down - 2024</div>
      <div class="project-info-row">
        <div class="project-description-box">
          <p class="description">
           Proyecto de título 2024. Aplicación web educativa desarrollada para el Instituto Down de Concepción, enfocada a los alumnos con síndrome de Down y ser una herramienta de apoyo en las clases para los docentes.
          </p>
		  <br>
          <p class="description">
            Video demostrativo <a href="https://www.youtube.com/watch?v=9LxU09u9mXY" class="project-link" target="_blank">aquí</a>
          </p>
        </div>
        <div class="project-image-box">
          <Image
            src={projectImage}
            alt="Captura de pantalla de la aplicación educativa para el Instituto Down"
            loading="lazy"
            width={600}
            height={260}
            format="webp"
          />
        </div>
      </div>
      <div class="project-tech-row">
        <span class="tech-tag2">React</span>
        <span class="tech-tag2">Javascript</span>
        <span class="tech-tag2">Firebase</span>
        <span class="tech-tag2">Git</span>
        <span class="tech-tag2">Vite</span>
      </div>
    </div>
  </div>
</div>
