---
// ProjectsContent Component
import { Image } from "astro:assets";
import projectImage from "../../public/img/proyects/proyect-institute-down.webp";
import TranslatedText from "./TranslatedText.astro";
import { translations } from "../i18n/translations";
---

<div class="content-section" id="projects-content">
  <div class="name-section">
    <h1><TranslatedText keyStr="projects.title" /></h1>
    <div class="separador"></div>
  </div>

  <div class="projects-grid">
    <div class="project-card2">
      <div class="project-title">
        <TranslatedText keyStr="projects.proj1.title" />
      </div>
      <div class="project-info-row">
        <div class="project-description-box">
          <p class="description">
            <TranslatedText keyStr="projects.proj1.desc1" />
          </p>
          <br />
          <p class="description">
            <TranslatedText keyStr="projects.proj1.videoText" />
            <a
              href="https://www.youtube.com/watch?v=9LxU09u9mXY"
              class="project-link"
              target="_blank"><TranslatedText keyStr="projects.proj1.here" /></a
            >
          </p>
        </div>
        <div class="project-image-box">
          <Image
            class="lang-es"
            src={projectImage}
            alt={translations.projects.proj1.alt.es}
            loading="lazy"
            width={600}
            height={260}
            format="webp"
          />
          <Image
            class="lang-en"
            src={projectImage}
            alt={translations.projects.proj1.alt.en}
            loading="lazy"
            width={600}
            height={260}
            format="webp"
          />
        </div>
      </div>
      <div class="project-tech-row">
        <span class="tech-tag2">React</span>
        <span class="tech-tag2">Javascript</span>
        <span class="tech-tag2">Firebase</span>
        <span class="tech-tag2">Git</span>
        <span class="tech-tag2">Vite</span>
      </div>
    </div>
  </div>
</div>
