---
// ProjectsContent Component
---

<div class="content-section" id="projects-content">
	<div class="name-section">
		<h1>Proyectos</h1>
		<div class='separador'></div>
	</div>
	
	<div class="projects-content">
		
	</div>
</div>
